<!-- Parameters: list -->

<div class="collapsible-header">
  <a class="btn-floating waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
  Add List
</div>

<div class="collapsible-body">
  <span>
    <%= render "form", list: list %>
  </span>
</div>
