<!-- Parameters: list -->

<li>
  <div class="collapsible-header">
    <i class="material-icons">add</i>Add List
  </div>

  <div class="collapsible-body">
    <span>
      <%= render "form", list: list %>
    </span>
  </div>
</li>
