<h1>Your Lists</h1>

<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <%= render "add_list", list: @new_list %>
  </li>

  <% @lists.each do |list| %>
    <li><%= render "list", list: list %></li>
  <% end %>
</ul>
