<h1>Your Lists</h1>

<ul id="lists" class="collapsible popout" data-collapsible="expandable">
  <%= render "add_list", list: @new_list %>

  <% @lists.each do |list| %>
    <%= render "list", list: list %>
  <% end %>
</ul>
