<!-- Parameters: color, content -->
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel <%= color %>">
      <span class="white-text"><%= content %></span>
    </div>
  </div>
</div>
