<!-- Parameters: list, item -->

<li>
  <div class="collapsible-header">
    <i class="material-icons">add</i>Add Item
  </div>

  <div class="collapsible-body">
    <span>
      <%= render "items/form", list: list, item: item %>
    </span>
  </div>
</li>
