@import 'materialize';
@import 'materialize/extras/nouislider';

.page-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

.list-items {
  margin-bottom: 10%;
}

.completed {
  @extend .grey-text, .text-lighten-2;

  text-decoration: line-through;
}
