<nav>
  <div class="container">
    <a href="/" class="brand-logo">ShoppingMeyster</a>

    <ul class="hide-on-med-and-down right">
      <%= render "layouts/nav_items" %>
    </ul>

    <a href="#" data-activates="mobile-nav" class="button-collapse right">
      <%= render "shared/icon", name: "menu" %>
    </a>

    <ul id="mobile-nav" class="side-nav">
      <%= render "layouts/nav_items" %>
    </ul>
  </div>
</nav>

<script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
  });
</script>
